$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1004px
) !default;

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1004px
) !default;

@import "boostrap400/bootstrap-grid.scss";

*{
    padding:0;
    margin:0;
}

@import "../fonts/Europe.css";

$orange : #eb5017;
$dark   : #343a40;
$bg-grey : #f2f2f2;

a,a:hover{
    text-decoration: none;
}

h1{
    color:$orange;
    font-size:30px;
}

body{
    font-family: 'Arial';
    font-size:14px;
}

.header{
    padding-top: 23px;


    &__contact-us{
        padding: 15px 0 0 55px;
        letter-spacing: 0.01em;
    }

    &__contact-phone{
        font-size: 18px;
        font-family: "Europe";
        color: rgb( 235, 80, 23 );
        line-height: 1.111;
        display:block;

    }



    &__logo {
        img{
            margin-left:2px;
        }
    }

    .container:first-child {
        padding: 0;
    }

    .main-menu{
        //margin-top:21px;
        margin-top: 18px;
    }
}

.main-menu {
    border:1px solid #e0e0e0;
    background: $dark;
    &__list{
        padding-left: 14px;
        //padding:0;
        margin:0;
        list-style-type:none;
    }

    &__item{
        padding: 0 40px 0 34px;
        cursor:pointer;
        border-right:1px solid $orange;
        &:last-child{
            border:none;
        }
        a{
            font-size: 14px;
            font-family: "Arial";
            color: #fff;
            line-height: 43px;

        }
        &:hover{
            background: $orange;
        }
    }
}


.breadcrumb{
    font-size:12px;
    color:$dark;
    &__list {
        @extend .d-flex;
        list-style-type:none;
        padding: 13px 21px;
        letter-spacing: 0.001em;
    }

    &__item{
        a {
            color:$dark;
            text-decoration: underline;
        }

        a:after{
            content: "-";
            width: 10px;
            display: inline-block;
            text-align: center;
        }
    }
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 0;


    &__inner{
        height: 54px;
        border: 1px solid #e0e0e0;
        border-bottom: none;
        background: $dark;
    }



}

.footer-menu{
    padding-left: 34px;
    list-style-type:none;
    &__item{
        cursor:pointer;
        margin: 0 13px;
        &:last-child{
            border:none;
        }
        a{
            font-size: 12px;
            font-family: "Arial";
            color: #fff;
            line-height: 34px;
            letter-spacing: 0.009em;
            text-decoration: underline;

        }
        &:hover{
            text-decoration: underline;
        }
    }
}

.calc {
    &__inner{
        padding: 12px 0 7px;
        background: $bg-grey;
        margin: 12px 21px;


        h1 {
            margin-left: 94px;
        }

    }


}

.form-calc {
    margin-top: 20px;
    &__group{
        padding: 8px 0 12px;
        display: flex;
        label {
            width:195px;
            text-align: right;
            display: inline-block;
            margin-right: 24px;
        }
        input:not([type="radio"]),select{
            width: 86px;
            padding: 2px;
            height: 22px;
        }
        .radio-group{
            margin-right: 27px;
            input{
                margin-right:9px;
            }
        }
    }
    .result{
        display:none;
        &__label{
            color:#395306;
            font-weight: bold;
        }

    }
    button {
        margin: 20px 20px;
    }
}

.btn-green{
    background-image: url(../img/bg-btn.png);
    width: 103px;
    height: 37px;
    outline: 0 !important;
    border: 0 !important;
    background-color: transparent;
    cursor:pointer;
    color:#395306;
    font-weight: bold;
}

.slider-group{
    margin-left:23px;
    display: inline-block;

    .value-group{
        display: flex;
        margin-top: 3px;
    }
    .slider_min, .slider_max{
        display: inline-block;
        font-family: 'Verdana';
        font-style: italic;
        font-size:10px;
        color:#676767;
    }
    .slider_max {
        margin-left: auto;
    }
}

.slider{
    width:240px;
    height:9px;
    display:inline-block;
    border:1px solid #fff !important;
    border-radius: 10px;
    background: #1e1f22;
    outline:0 !important;

    .ui-slider-range {
        @extend .gradient-slider;
        border:1px solid #212227 ;
        border-radius: 10px;
    }
    .ui-slider-handle {
        background-image: url(../img/slider-handle.png);
        background-color: transparent;
        width:9px;
        height: 8px;
        outline:0 !important;
        border:none !important;
        top: initial;
        //margin-left:0;

    }

    .ui-state-active {
        background-color: transparent;
    }




}

.gradient-slider {
    background-color: #89af35;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjNmY5MzFlIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNhM2NhNGMiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,color-stop(0, rgb(111, 147, 30)),color-stop(1, rgb(163, 202, 76)));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(top,rgb(111, 147, 30) 0%,rgb(163, 202, 76) 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(to bottom,rgb(111, 147, 30) 0%,rgb(163, 202, 76) 100%);
    background-image: -ms-repeating-linear-gradient(top,rgb(111, 147, 30) 0%,rgb(163, 202, 76) 100%);
}


